numpy
pandas
matplotlib
seaborn
plotly
plotly-express
folium
scikit-learn
jupyterlab
notebook
ipykernel
dask[dataframe]
pyarrow
fastparquet
tqdm
openpyxl
xlrd
geopandas
shapely
fiona
pyproj
rtree